h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: 'font';
}

.skincreator {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  &__outer {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 100%;
    max-width: 420px;
    overflow: hidden;
    border-radius: 8px;
  }

  &__submit {
    width: 100%;
    height: 65px;

    &-btn {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: none;
      color: #fff;
      background-color: #f5a417
    }
  }
}

.tab {
  &__header {
    margin-top: 5px;
    margin-bottom: 16px;
  }

  &__wrapper {
    display: flex;
    background-color: #2e3033;
    overflow: hidden;
  }

  &__group {
    margin-bottom: 16px;

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-legend {
      color: #fff;
      margin-right: 5px;
    }
  }

  &__link {
    display: flex;
    width: calc(100% / 3);
    height: 65px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.9);

    &.active {
      background: #f5a417;
    }

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }

  &__content {
    display: none;
    padding: 0 20px;

    &.active {
      display: block;
    }

    &-wrapper {
      width: 100%;
      height: 100%;
      max-height: 550px;
      overflow-y: auto;
      flex: 1 0 100%;
      background: rgba(46, 48, 51, 0.85);

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
    }
  }

  &__header {
    color: #fff;
  }

  &__group {
    &-header {
      color: #fff;
    }
  }
}

.parent {
  &__group {
    position: relative;
    width: calc(100% / 8);
  }

  &-input {
    width: 0px;
    height: 0px;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;

    &:checked {
      ~.parent-img {
        border: 1px solid #fff;
      }
    }
  }

  &-img {
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
  }
}

.range {
  -webkit-appearance: none;
  width: 75%;

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: rgba(115, 115, 115, 0.44);
    }

    &::-ms-fill-lower {
      background: rgba(102, 102, 102, 0.44);
    }

    &::-ms-fill-upper {
      background: rgba(115, 115, 115, 0.44);
    }

    &::-moz-range-track {
      width: 100%;
      height: 2.3px;
      cursor: pointer;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
      background: rgba(102, 102, 102, 0.44);
      border-radius: 25px;
      border: 0px solid rgba(0, 1, 1, 0);
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
    background: rgba(102, 102, 102, 0.44);
    border-radius: 25px;
    border: 0px solid rgba(0, 1, 1, 0);
  }

  &::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.85px;
  }

  &::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: rgba(89, 89, 89, 0.44);
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
  }

  &::-ms-fill-upper {
    background: rgba(102, 102, 102, 0.44);
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(13, 13, 13, 0.04);
  }

  &::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 2.3px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
    border-radius: 35px;
    background: rgba(33, 37, 41, 0.3);
  }

  &--arrows {
    display: flex;
    align-items: center;
    width: 60px;
    margin-right: 0;
    margin-left: auto;
    background: #2e3033;
    border-radius: 4px;
    overflow: hidden;

    &__button {
      flex: 1 0 50%;
      background: transparent;
      border: none;
      color: #fff;
    }
  }
}

.radio {
  opacity: 0;
  border: 0;
  z-index: -1;
  position: absolute;

  &:checked {
    ~.radio__color {
      border-color: #fff;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__outer {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &__color {
    border: 2px solid transparent;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
