### DEFAULT ###
start mapmanager
start chat
start spawnmanager
start esx_identity
start skinchanger
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
################
### DEVELOPMENT MODE DEBUG ###
# start ObjectNameFromHash
# start nearestprop
start admin_commands
#############################
start trafficadjuster
exec resources/vMenu/config/permissions.cfg
setr vmenu_bans_database_filepath "resources/vMenu/"
start vMenu
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2
start 3dme
start esx_society
start ped_ragdol
start qalle_wheelchair
start chopshop
start crouch_n_prone
start tackle
start bob74_ipl
start radar_while_driving
start timertazer
start simpleloadscreen
start helicam
start clothesoff
start weapons_on_back
start esx-ecobottles
start vehicleblackout
start eden_animal
start WeazelNewsCam
start modular_carlift
#------------ interriors core
start lspdloader_pd
start mapbuilder
#-------
# -----------POLICE AMBULANCE pl
ensure rs9000
start jsfour-mdc
start jsfour-dna
start jsfour-criminalrecord
# -----------------
# -------------------PROP SCRIPTS
start shield
start WeazelNewsCam
start handbag
# -------------------
#start vehicle_failure
start tokovoip_script
start ab-radio
## From ESX Pack ##
start async
start cron
start esx_whitelist
start es_extended
start esx_request
start instance
start es_camera
start gcphone
start esx_addons_gcphone
start esx_teleports
start esx_illegal_drugs
start esx_accessories
start esx_addonaccount
start esx_addoninventory
start esx_borrmaskin
start esx_holdupbank
start esx_ambulancejob
start esx_animations
start esx_barbie_lyftupp
start legacyfuel
start esx_vehiclepush
start esx_givecarkeys
start esx_atm
start esx_jb_eden_garage2
start ft_libs
start loffe_robbery
start esx_bankerjob
start esx_barbershop
start esx_basicneeds
start esx_billing
start esx_boat
start esx_boilerplate
start esx_clotheshop
start esx_cruisecontrol
start esx_datastore
start esx_dmvschool
start esx_drugs
start esx_drugeffects
start stasiek_selldrugs
start esx_garage
start esx_holdup
start esx_joblisting
start esx_jobs
start esx_license
start idcard
start esx_lscustom
start esx_mechanicjob
start esx_mechanicjob-bennys
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_migrate
start esx_optionalneeds
start esx_policejob
start esx_property
start esx_nightclub
#start esx_realestateagentjob
start esx_rpchat
start esx_service
start esx_shops
start esx_sit
start esx_sodamachine
start esx_skin
start esx_status
start esx_taxijob
start esx_vehicleshop
start esx_weaponshop
start esx_doorlock
start esx_holdup
start esx_carwash
start esx_tattooshop
start esx_outlawalert
start esx_unicornjob
start esx_vehicle_inventory
start esx_vehiclelock
start esx_holsterweapon
# start esx_holsterweapon_upd
start esx_ktackle
start animacia_kluczyk
start esx_duty
start esx_hunting
## End of ESX Pack ##
start esx_inventory
start esx-kr-bag-inventory
start es_wsync
start scrp_scripts
start es_ui
start sosamba_ui
start mhacking
start esx_securitycam
start esx_playermenu

start esx_headbag
# start Car_Doors - Доработать
start SeatShuffle
start seatbelt
start slashtires
start esx_documents
start ambulance-mission
start RealisticVehicleFailure
start esx_carsync
## CARS ##
start flatbed3
start carpack
start diamond
########
### INTERIORS ###
start pillbox_amb_btm
start pillbox_amb_top
start prison_pd
start lspd_pd
start policepark
start sandy_pd
start pillbox_beds
start parkwayshop
start fastfood
start taxi
#################
