@import "notification-colors.css";

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans-regular.ttf');
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url('fonts/opensans-semibold.ttf');
}

/* base blocks */

html,body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#app {
	width: 100%;
	height: 100%;
}

#minimap-right {
	position: absolute;
	bottom: 19.2%;
	left: 16%;
}

#notifications {
    position: absolute;
    top: 25%;
    bottom: 19%;
    width: 300px;
    min-height: 300px;

    font-family: 'Open Sans Semibold';
    font-size: 15px;
    color: white;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.notification-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 3px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    word-wrap:break-word;
}

#meters {
	opacity: 0.6;
}

#website-container {
	position: absolute;
	width: 80%;
	height: 80%;
	margin: auto auto;
	z-index: 2;
}

#website-frame {
	position: relative;
	width: 100%;
	height: 100%;
	border: 0;
	background-color: white;
}

/* extras */

.parent-centered {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* meters */

.pipe-meter-container {
  position: relative;
  width: 20px;
  height: 40px;
  background: #00d18b;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 1px;
  box-shadow: 0 0 1px 1px rgba(0,55,0,0.2);
}

.pipe-meter-value {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 3px 3px 3px 3px;
  background: #006e2e;
}

.pipe-meter-label {
  position: relative;
  top: 3px;
  width: 100%;
  text-align: center;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 14px;
}

/* transitions */

.fade-enter-active {
  transition: opacity .7s;
}

.fade-leave-active {
  transition: opacity .05s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


.notifymove-enter-active {
  transition: all .5s;
}

.notifymove-leave-active {
  transition: all .5s;
}
.notifymove-enter, .notifymove-leave-to {
/*  opacity: 0;*/
  transform: translateX(-400px);
}

.notifymove-move {
  transition: transform 0.5s;
}

